# Basic

In [1]:
import pandas as pd

In [2]:
alunos = {
    'Nome' : ['Alex', 'Bárbara', 'Claúdio', 'Douglas', 'Eduarda', 'Fernanda'],
    'Nota' : [3.0, 6.6, 2.7, 7.1, 5.4, 8.2],
    'Aprovado' : ['Não', 'Sim', 'Não', 'Sim', 'Não', 'Sim']
}

In [3]:
"""
Transformar o dicionário em um Data Frame
"""

df = pd.DataFrame(alunos)
df

       Nome  Nota Aprovado
0      Alex   3.0      Não
1   Bárbara   6.6      Sim
2   Claúdio   2.7      Não
3   Douglas   7.1      Sim
4   Eduarda   5.4      Não
5  Fernanda   8.2      Sim

In [4]:
"""
Series
Cria um Data Frame a partir de um vetor unidimensional
'Data frame de uma coluna só'
"""

obj = pd.Series([2, 1, 5, 2, 6])
obj

0    2
1    1
2    5
3    2
4    6
dtype: int64

In [5]:
import numpy as np

arr = np.array([(1, 2, 3, 4), (5, 6, 7, 8)])

# obj = pd.Series(arr) 
# obj # ValueError: Data must be 1-dimensional

# Loading Data

In [6]:
pokemon = pd.read_csv('../../CSV Files/pokemon.csv')

pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Reading Data

In [7]:
"""
Read Headers
"""
pokemon.columns

"""
Read each column
"""
pokemon.Name
pokemon['Name'][0:13] # Kanto initials and their (mega) evolutions
pokemon[['Name', 'Type 1', 'Type 2']]

"""
Read each row
"""
pokemon.iloc[6] # Charizard all data
pokemon.iloc[10:20] # Wartortle -> Mega Beedril all data

for index, row in pokemon.iterrows():
    index, row['Name']

"""
Read specific location(row, column)
"""
pokemon.iloc[232, 1] # Mega Heracross name only
pokemon.loc[(pokemon['Type 1'] == 'Fire') | (pokemon['Type 2'] == 'Fire')]['Name'] # Name all fire type pokémon

4            Charmander
5            Charmeleon
6             Charizard
7      Mega Charizard X
8      Mega Charizard Y
             ...
730         Fletchinder
731          Talonflame
735              Litleo
736              Pyroar
799           Volcanion
Name: Name, Length: 64, dtype: object

# Describing Data

In [8]:
pokemon.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

# Sorting Values

In [9]:
pokemon.sort_values('HP', ascending=False)
pokemon.sort_values(['Speed', 'Attack'], ascending=False)
pokemon.sort_values(['Defense', 'Sp. Def'], ascending=[1, 0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
121,113,Chansey,Normal,NaN,250,5,5,35,105,50,1,False
488,440,Happiny,Normal,NaN,100,5,5,15,65,30,4,False
261,242,Blissey,Normal,NaN,255,10,10,75,135,55,2,False
257,238,Smoochum,Ice,Psychic,45,30,15,85,65,65,2,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
414,377,Regirock,Rock,NaN,80,100,200,50,100,50,3,True
223,208,Steelix,Steel,Ground,75,85,200,55,65,30,2,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
224,208,Mega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
333,306,Mega Aggron,Steel,NaN,70,140,230,60,80,50,3,False

In [10]:
pokemon[['Name', 'Attack', 'Speed']].loc[(pokemon['Attack'] >= 100) & (pokemon['Speed'] >= 100)].sort_values(['Attack', 'Speed'], ascending=False)

                  Name  Attack  Speed
163      Mega Mewtwo X     190    130
429      Deoxys Attack     180    150
426      Mega Rayquaza     180    115
527       Mega Gallade     165    110
796       Mega Diancie     160    110
..                 ...     ...    ...
361             Flygon     100    100
427            Jirachi     100    100
548            Manaphy     100    100
550  ShayminLand Forme     100    100
553            Victini     100    100

[65 rows x 3 columns]

In [11]:
pokemon[['Name', 'Sp. Atk', 'Speed']].loc[(pokemon['Sp. Atk'] >= 100) & (pokemon['Speed'] >= 100)].sort_values(['Sp. Atk', 'Speed'], ascending=False)

                  Name  Sp. Atk  Speed
164      Mega Mewtwo Y      194    140
429      Deoxys Attack      180    150
426      Mega Rayquaza      180    115
71       Mega Alakazam      175    150
102        Mega Gengar      170    130
..                 ...      ...    ...
271             Celebi      100    100
427            Jirachi      100    100
548            Manaphy      100    100
550  ShayminLand Forme      100    100
553            Victini      100    100

[68 rows x 3 columns]

# Making Changes

In [12]:
pokemon = pokemon.rename(columns={
    'Sp. Atk' : 'SpAtk',
    'Sp. Def' : 'SpDef'
}, inplace= False)


pokemon['Total'] = pokemon.iloc[:, 4:10].sum(axis=1)
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True,600
796,719,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True,600

In [13]:
pokemon.sort_values('Total', ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Generation,Legendary,Total
426,384,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,Mega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13,10,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False,195
288,265,Wurmple,Bug,NaN,45,45,35,20,30,20,3,False,195
446,401,Kricketot,Bug,NaN,37,25,41,25,41,25,4,False,194
322,298,Azurill,Normal,Fairy,50,20,40,20,40,20,3,False,190
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,180

In [14]:
pokemon = pokemon.drop(['Generation', 'Legendary'], axis=1)
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600
796,719,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600

In [15]:
pokemon = pokemon.replace(float('nan'), '-')
pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625
4,4,Charmander,Fire,-,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600
796,719,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,700
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600

# Saving Data Frame back to CSV

In [16]:
pokemon.to_csv('pokemon_modified.csv', index=False)

# Filtering Data

In [17]:
pokemon.loc[pokemon['Name'].str.contains('Mega')] # All megas

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Total
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625
7,6,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,634
8,6,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,634
12,9,Mega Blastoise,Water,-,79,103,120,135,115,78,630
19,15,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,495
23,18,Mega Pidgeot,Normal,Flying,83,80,80,135,80,121,579
71,65,Mega Alakazam,Psychic,-,55,50,65,175,95,150,590
87,80,Mega Slowbro,Water,Psychic,95,75,180,130,80,30,590
102,94,Mega Gengar,Ghost,Poison,60,65,80,170,95,130,600
124,115,Mega Kangaskhan,Normal,-,105,125,100,60,100,100,590
137,127,Mega Pinsir,Bug,Flying,65,155,120,65,90,105,600
141,130,Mega Gyarados,Water,Dark,95,155,109,70,130,81,640
154,142,Mega Aerodactyl,Rock,Flying,80,135,85,70,95,150,615
163,150,Mega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,780
164,150,Mega Mewtwo Y,Psychic,-,106,150,70,194,120,140,780
168,154,Meganium,Grass,-,80,82,100,83,100,80,525
196,181,Mega Ampharos,Electric,Dragon,90,95,105,165,110,45,610
224,208,Mega Steelix,Steel,Ground,75,125,230,55,95,30,610
229,212,Mega Scizor,Bug,Steel,70,150,140,65,100,75,600
232,214,Mega Heracross,Bug,Fighting,80,185,115,40,105,75,600
248,229,Mega Houndoom,Dark,Fire,75,90,90,140,90,115,600
268,248,Mega Tyranitar,Rock,Dark,100,164,150,95,120,71,700
275,254,Mega Sceptile,Grass,Dragon,70,110,75,145,85,145,630
279,257,Mega Blaziken,Fire,Fighting,80,160,80,130,80,100,630
283,260,Mega Swampert,Water,Ground,100,150,110,95,110,70,635
306,282,Mega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,618
327,302,Mega Sableye,Dark,Ghost,50,85,125,85,115,20,480
329,303,Mega Mawile,Steel,Fairy,50,105,125,55,95,50,480
333,306,Mega Aggron,Steel,-,70,140,230,60,80,50,630
336,308,Mega Medicham,Fighting,Psychic,60,100,85,80,85,100,510
339,310,Mega Manectric,Electric,-,70,75,80,135,80,135,575
349,319,Mega Sharpedo,Water,Dark,70,140,70,110,65,105,560
354,323,Mega Camerupt,Fire,Ground,70,120,100,145,105,20,560
366,334,Mega Altaria,Dragon,Fairy,75,110,110,110,105,80,590
387,354,Mega Banette,Ghost,-,64,165,75,93,83,75,555
393,359,Mega Absol,Dark,-,65,150,60,115,60,115,565
397,362,Mega Glalie,Ice,-,80,120,80,120,80,100,580
409,373,Mega Salamence,Dragon,Flying,95,145,130,120,90,120,700
413,376,Mega Metagross,Steel,Psychic,80,145,150,105,110,110,700
418,380,Mega Latias,Dragon,Psychic,80,100,120,140,150,110,700
420,381,Mega Latios,Dragon,Psychic,80,130,100,160,120,110,700
426,384,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,780
476,428,Mega Lopunny,Normal,Fighting,65,136,94,54,96,135,580
494,445,Mega Garchomp,Dragon,Ground,108,170,115,120,95,92,700
498,448,Mega Lucario,Fighting,Steel,70,145,88,140,70,112,625
511,460,Mega Abomasnow,Grass,Ice,90,132,105,132,105,30,594
527,475,Mega Gallade,Psychic,Fighting,68,165,95,65,115,110,618
591,531,Mega Audino,Normal,Fairy,103,60,126,80,126,50,545
796,719,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,700

In [18]:
pokemon.loc[~pokemon['Name'].str.contains('Mega')] # All non-megas

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525
4,4,Charmander,Fire,-,39,52,43,60,50,65,309
5,5,Charmeleon,Fire,-,58,64,58,80,65,80,405
...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,600
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,600
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,600
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,680
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600

In [19]:
import re

pokemon.loc[pokemon['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)] # Pokemon that are Fire or Grass in Type 1

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,525
3,3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,625
4,4,Charmander,Fire,-,39,52,43,60,50,65,309
...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,369
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,507
740,672,Skiddo,Grass,-,66,65,48,62,57,52,350
741,673,Gogoat,Grass,-,123,100,62,97,81,68,531
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,600

In [20]:
pokemon.loc[pokemon['Name'].str.contains('^vic[a-z]*', flags=re.I, regex=True)] # Pokémon names that starts with 'vic'

,#,Name,Type 1,Type 2,HP,Attack,Defense,SpAtk,SpDef,Speed,Total
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,490
553,494,Victini,Psychic,Fire,100,100,100,100,100,100,600

# GroupBy

In [21]:
pokemon[['Type 1', 'Speed']].groupby(['Type 1']).mean().sort_values('Speed', ascending=False)

               Speed
Type 1
Flying    102.500000
Electric   84.500000
Dragon     83.031250
Psychic    81.491228
Dark       76.161290
Fire       74.442308
Normal     71.551020
Fighting   66.074074
Water      65.964286
Ghost      64.343750
Ground     63.906250
Poison     63.571429
Ice        63.458333
Grass      61.928571
Bug        61.681159
Rock       55.909091
Steel      55.259259
Fairy      48.588235

In [23]:
pokemon[['Type 2', 'Speed']].groupby(['Type 2']).mean().sort_values('Speed', ascending=False)

              Speed
Type 2
Normal    89.250000
Fighting  87.384615
Flying    85.721649
Dragon    80.555556
Fire      79.666667
Dark      75.350000
Ice       74.642857
Electric  71.500000
Psychic   69.484848
Poison    66.647059
-         65.878238
Bug       61.666667
Fairy     61.217391
Steel     59.363636
Grass     57.320000
Water     57.142857
Ground    54.657143
Ghost     53.857143
Rock      36.000000